
main {
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-login a{
    background-color: #808080;
}

.btn-login a:hover {
    background-color: #808080;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: #f3d898;
    width: 450px;
    border: 2px solid gold;
    border-radius: 10px;
    padding: 32px;
    box-shadow: 0 4px 4px rgba(240, 190, 0, 0.3);
}

form {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

input {
    color: goldenrod;
    padding: 16px 8px;
    border: 2px solid gold;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

input::placeholder {
    color: goldenrod;
}

input:focus {
    border-color: goldenrod;
    transition: border 0.3s ease;
}
h1 {
    color: peru;
}

input:last-child {
    border: none;
}

.btn-log-in {
    background-color: peru;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 16px;
}

.btn-log-in:hover {
    background-color: burlywood;
    transition: background-color 0.3s ease;
}

#LabelMessage {
    color: orange;
    text-align: center;
}

form a {
    display: inline;
    color: #7b7b7b;
    text-decoration: none;
    align-self: center;
}

form a:hover {
    text-decoration: underline 2px;
    text-underline-offset: 2px;
}