
main {
    background-color: #2d3533;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    background-color: #fff;
    width: 450px;
    border-radius: 10px;
    padding: 32px;
}

form {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

input {
    padding: 16px 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

input:focus {
    border-color: #0aa8c3;
    transition: border 0.3s ease;
}

input:last-child {
    border: none;
}

.btn-log-in {
    background-color: #0aa8c3;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 16px;
}

.btn-log-in:hover {
    background-color: #50d8f0;
    transition: background-color 0.3s ease;
}

form a {
    text-align: center;
    color: #7b7b7b;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline 2px;
    text-underline-offset: 2px;
}