main {
    background-color: beige;
}

nav ul li {
    display: flex;
    gap: 10px;
    align-items: center;
}

li a img {
    height: 40px;
    width: auto;
}

#LabelName {
    font-size: 20px;
    color: peru;
}

.content_container {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
    padding: 50px 10px;
    background-color: #f3d898;
    max-width: 900px;
    width: 90%;
    border-radius: 16px;
    border: 2px solid gold;
    box-shadow: 0 4px 4px rgba(240, 190, 0, 0.3);
}

.info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 80px;
    margin-top: 25px;
}

.info-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    padding: 8px;
    border-radius: 16px;
}

.separator {
    width: 40px;
    height: 3px;
    background: linear-gradient(90deg, #C9A66B, #FFD966, #C9A66B);
    border-radius: 8px;
    margin: 5px 20px;
    z-index: 3;
    transform: rotate(90deg);
}

.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: auto;
    border: 2px solid gold;
    box-shadow: 0 4px 4px rgba(240, 190, 0, 0.2);

    padding: 20px 25px;
    border-radius: 16px;
}

.actions-container a {
    text-decoration: none;
    color: #000;
}

.action-panel:nth-child(1), 
.action-panel:nth-child(3) {
    display: none;
}