nav ul li {
    display: flex;
    gap: 10px;
    align-items: center;
}

li a img {
    height: 40px;
    width: auto;
}

#LabelName {
    font-size: 20px;
    color: peru;
}

.content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    padding: 50px;
    background-color: peru;
    max-height: 70%;
    max-width: 900px;
    width: 90%;
    height: 500px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
