main {
    background-color: beige;
}

nav ul li {
    display: flex;
    gap: 10px;
    align-items: center;
}

li a img {
    height: 40px;
    width: auto;
}

#LabelName {
    font-size: 20px;
    color: peru;
}

.content_container {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
    padding: 50px 10px;
    background-color: #f3d898;
    max-width: 900px;
    width: 90%;
    border-radius: 16px;
    border: 2px solid gold;
    box-shadow: 0 4px 4px rgba(240, 190, 0, 0.3);
}

.info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 80px;
    margin-top: 25px;
}

.info-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    padding: 8px;
    border-radius: 16px;
}

.separator {
    width: 40px;
    height: 3px;
    background: linear-gradient(90deg, #C9A66B, #FFD966, #C9A66B);
    border-radius: 8px;
    margin: 5px 20px;
    z-index: 3;
    transform: rotate(90deg);
}

.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: auto;
    border: 2px solid gold;
    box-shadow: 0 4px 4px rgba(240, 190, 0, 0.2);
    background-image: url(../img/header-img.png);
    padding: 20px 25px;
    border-radius: 16px;
}

.actions-container a {
    text-decoration: none;
    color: #000;
}

#add-user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 80px;
}

input {
    color: goldenrod;
    padding: 16px 9px;
    border: 2px solid gold;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

input::placeholder {
    color: goldenrod;
}

input:focus {
    border-color: goldenrod;
    transition: border 0.3s ease;
}

input:last-child {
    border: none;
}

.btn-add-user {
    background-color: #C9A66B;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 16px;
}

.btn-add-user:hover {
    background-color: burlywood;
    transition: background-color 0.3s ease;
}

#LabelMessage {
    color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}