* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: pink;
}

    header a img {
        height: 60px;
        width: auto;
    }

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}
/* END HEADER */


/* MAIN */
main {
    display: flex;
    flex-grow: 1;
}
/* END MAIN */


/* FOOTER */
footer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}
/* END FOOTER */
