* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-image: url(../img/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header a img {
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

.btn-login a {
    display: flex;
    width: auto;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 32px;
    background-color: #C9A66B;
    color: #fff;
}

.btn-login a:hover {
    background-color: burlywood;
    transition: background-color 0.3s ease;
}




main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}


footer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9A66B;
    color: #fff
}

